* {
   margin: 0;
   padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(255, 201, 181);
}

.container{
    background-color: white;
}