* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: #151d2f;
  }
  button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #13fc97;
    color: #151d2f;
    border-radius: 0.5em;
    font-weight: 500;
  }
  .search-container {
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1em;
    width: 100%;
    max-width: 50em;
    margin: 1em auto;
    padding: 0.5em;
  }
  .search-container input {
    padding: 1em;
    border-radius: 0.5em;
    font-weight: 400;
  }