*{
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   box-sizing: border-box;
}

body{
    background: #262a2f;
}

.container{
    width: 500px;
    /* height: 40px; */
    padding: 25px , 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    border-radius: 10px;
}

.container p{
     font-weight: 600;
     font-size: 15px;
     margin-bottom: 8px;
     text-align: center;
     margin-top: 17px;
}

.container input {
    width: 70%;
    height: 50px;
    border: 1px solid #494eea;
    outline:0;
    padding: 10px 5px;
    margin: 10px 70px 20px;
    border-radius: 5px;
    position: relative;
}

.container button {
    width: 70%;
    height: 50px;
    background: #494eea;
    color: #fff;
    border: 0;
    outline:0;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    cursor: pointer;
    margin: 20px 0;
    font-weight: 500;
    margin: 0 0 25px 70px;
    font-size: medium;
    
}

#imgbox{
    width: 200px;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
}

#imgbox img {
    width: 100%;
    padding: 10px;
}